--
-- PostgreSQL database dump
--

\restrict xbzjcA3be3RHcNdJEnI9e4rxxg0RdedeawRLpwFClvDOmRtDCbK1XduJV3vMLmu

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Affiliates; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Affiliates" (
    id integer NOT NULL,
    name text NOT NULL,
    active boolean DEFAULT true
);


ALTER TABLE public."Affiliates" OWNER TO admin;

--
-- Name: Affiliates_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Affiliates_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Affiliates_id_seq" OWNER TO admin;

--
-- Name: Affiliates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Affiliates_id_seq" OWNED BY public."Affiliates".id;


--
-- Name: Creditors; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Creditors" (
    id integer NOT NULL,
    name text NOT NULL,
    abreviation text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public."Creditors" OWNER TO admin;

--
-- Name: Creditors_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Creditors_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Creditors_id_seq" OWNER TO admin;

--
-- Name: Creditors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Creditors_id_seq" OWNED BY public."Creditors".id;


--
-- Name: Logs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Logs" (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    user_id integer,
    agent text NOT NULL,
    customer text,
    cordoba_id text NOT NULL,
    result text NOT NULL,
    comments text,
    affiliate text,
    info_until text,
    client_language text
);


ALTER TABLE public."Logs" OWNER TO admin;

--
-- Name: Logs_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Logs_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Logs_id_seq" OWNER TO admin;

--
-- Name: Logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Logs_id_seq" OWNED BY public."Logs".id;


--
-- Name: Search_Misses; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Search_Misses" (
    id integer NOT NULL,
    abreviation text NOT NULL,
    cordoba_id text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public."Search_Misses" OWNER TO admin;

--
-- Name: Search_Misses_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Search_Misses_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Search_Misses_id_seq" OWNER TO admin;

--
-- Name: Search_Misses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Search_Misses_id_seq" OWNED BY public."Search_Misses".id;


--
-- Name: Updates; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Updates" (
    id integer NOT NULL,
    date date NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    category text NOT NULL,
    active boolean DEFAULT true
);


ALTER TABLE public."Updates" OWNER TO admin;

--
-- Name: Updates_Reads; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Updates_Reads" (
    id integer NOT NULL,
    update_id integer NOT NULL,
    username text NOT NULL,
    read_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public."Updates_Reads" OWNER TO admin;

--
-- Name: Updates_Reads_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Updates_Reads_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Updates_Reads_id_seq" OWNER TO admin;

--
-- Name: Updates_Reads_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Updates_Reads_id_seq" OWNED BY public."Updates_Reads".id;


--
-- Name: Updates_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Updates_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Updates_id_seq" OWNER TO admin;

--
-- Name: Updates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Updates_id_seq" OWNED BY public."Updates".id;


--
-- Name: Users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Users" (
    id integer NOT NULL,
    username text NOT NULL,
    name text NOT NULL,
    password text NOT NULL,
    role text DEFAULT 'Agent'::text NOT NULL,
    active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public."Users" OWNER TO admin;

--
-- Name: Users_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Users_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Users_id_seq" OWNER TO admin;

--
-- Name: Users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Users_id_seq" OWNED BY public."Users".id;


--
-- Name: Affiliates id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Affiliates" ALTER COLUMN id SET DEFAULT nextval('public."Affiliates_id_seq"'::regclass);


--
-- Name: Creditors id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Creditors" ALTER COLUMN id SET DEFAULT nextval('public."Creditors_id_seq"'::regclass);


--
-- Name: Logs id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Logs" ALTER COLUMN id SET DEFAULT nextval('public."Logs_id_seq"'::regclass);


--
-- Name: Search_Misses id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Search_Misses" ALTER COLUMN id SET DEFAULT nextval('public."Search_Misses_id_seq"'::regclass);


--
-- Name: Updates id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Updates" ALTER COLUMN id SET DEFAULT nextval('public."Updates_id_seq"'::regclass);


--
-- Name: Updates_Reads id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Updates_Reads" ALTER COLUMN id SET DEFAULT nextval('public."Updates_Reads_id_seq"'::regclass);


--
-- Name: Users id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Users" ALTER COLUMN id SET DEFAULT nextval('public."Users_id_seq"'::regclass);


--
-- Data for Name: Affiliates; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: Creditors; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: Logs; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Logs" (id, created_at, user_id, agent, customer, cordoba_id, result, comments, affiliate, info_until, client_language) FROM stdin;
1	2025-12-30 16:43:03.231166+00	31	test	\N	1234567899	Completed		Patriot	All info provided	English
2	2025-12-30 17:03:50.420296+00	25	atorrez	\N	1233445566	Completed		Patriot Option Group	All info provided	English
3	2026-01-06 17:13:26.979851+00	32	atest	\N	1181571149	Not Completed	ssn invalid\n	Patriot Option Group	All info provided	English
\.


--
-- Data for Name: Search_Misses; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Search_Misses" (id, abreviation, cordoba_id, created_at) FROM stdin;
\.


--
-- Data for Name: Updates; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: Updates_Reads; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: Affiliates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."Affiliates_id_seq"', 51, false);


--
-- Name: Creditors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."Creditors_id_seq"', 2032, false);


--
-- Name: Logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."Logs_id_seq"', 3, true);


--
-- Name: Search_Misses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."Search_Misses_id_seq"', 1, true);


--
-- Name: Updates_Reads_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."Updates_Reads_id_seq"', 48, true);


--
-- Name: Updates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."Updates_id_seq"', 4, true);


--
-- Name: Users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public."Users_id_seq"', 33, false);


--
-- Name: Affiliates Affiliates_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Affiliates"
    ADD CONSTRAINT "Affiliates_name_key" UNIQUE (name);


--
-- Name: Affiliates Affiliates_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Affiliates"
    ADD CONSTRAINT "Affiliates_pkey" PRIMARY KEY (id);


--
-- Name: Creditors Creditors_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Creditors"
    ADD CONSTRAINT "Creditors_pkey" PRIMARY KEY (id);


--
-- Name: Logs Logs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Logs"
    ADD CONSTRAINT "Logs_pkey" PRIMARY KEY (id);


--
-- Name: Search_Misses Search_Misses_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Search_Misses"
    ADD CONSTRAINT "Search_Misses_pkey" PRIMARY KEY (id);


--
-- Name: Updates_Reads Updates_Reads_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Updates_Reads"
    ADD CONSTRAINT "Updates_Reads_pkey" PRIMARY KEY (id);


--
-- Name: Updates_Reads Updates_Reads_update_id_username_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Updates_Reads"
    ADD CONSTRAINT "Updates_Reads_update_id_username_key" UNIQUE (update_id, username);


--
-- Name: Updates Updates_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Updates"
    ADD CONSTRAINT "Updates_pkey" PRIMARY KEY (id);


--
-- Name: Users Users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_pkey" PRIMARY KEY (id);


--
-- Name: Users Users_username_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_username_key" UNIQUE (username);


--
-- Name: Logs Logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Logs"
    ADD CONSTRAINT "Logs_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."Users"(id);


--
-- PostgreSQL database dump complete
--

\unrestrict xbzjcA3be3RHcNdJEnI9e4rxxg0RdedeawRLpwFClvDOmRtDCbK1XduJV3vMLmu

