version: '3.8'

services:
  # Base de Datos PostgreSQL
  db:
    image: postgres:15-alpine
    container_name: cordoba_db
    restart: always
    # OPTIMIZACIÓN: Permite hasta 200 conexiones simultáneas (evita el error 'too many clients')
    command: postgres -c 'max_connections=200'
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    networks:
      - cordoba_net

  # Aplicación Streamlit
  app:
    build: .
    container_name: cordoba_app
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8501:8501"
    # OPTIMIZACIÓN: Asigna 2GB de memoria compartida para que el renderizado no colapse con 80 personas
    shm_size: '2gb'
    networks:
      - cordoba_net

volumes:
  postgres_data:

networks:
  cordoba_net:
    driver: bridge